body{
    background-color: #183446;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#header{
    color: #fff;
    font-size: larger;
    width: 100%;
}
#header header{
    padding-left: 2.5%;
}

#main_content{
    display: flex;
    flex-direction: row;
}

#user{
    /*border: #000 solid 1px;*/
    padding: 10px;
    margin-left: 5%;
    margin-top: 2.5%;
    text-align: center;
}

#user img{
    width: 150px;
    height: 150px;
}

#user h2{
    color: #fff;
    font-size: xx-large;
}

#user p{
    margin-top: 25px;
    margin-bottom: 65px;
}

#login_form{
    width: 400px;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(#38aecc, #fff);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 20px;
    box-shadow: 15px 15px 7px #000;
}
#login_form h2{
    color: #fff;
    opacity: 100%;
    position: relative;
    justify-content: space-around;
}
#login_form input{
    width: 80%;
    height: 2rem;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #022f40;
    
}
#field{
    border: none;
    background-color: #808080;
    margin-top: 10px;
}
#button{
    background-color: #183446;
    color: #fff;
    width: 80%;
    height: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 3px 2px #000;
    border-radius: 5px;
    border-top: #000 solid 0.5px;
    border-left: #000 solid 0.5px;
}
#button a{
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
}
#button a:visited{
    color: #fff;
}
#button:hover{
    transform: translateY(-2px);
    /*background-color: transparent;
    color: #000;*/
    border: none;
}
#button:focus{
    box-shadow: none;
    background-color: #183446;
    color: #fff;
}
#login_form #field:focus{
    background-color: #fff;
    color: #000;
    border: none;
}
#login_form #field:hover{
    background-color: #555452e0;
}
::placeholder{
    color: #cecece;
}
#img_upload{
    color: #000;
    background-color: #022f40;
    padding-top: 5px;
}

#footer{
    background-color: #022f40;
    color: #fff;
    margin-top: auto;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.5%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 1.5%;
    border-top: #000 1px solid;
    border-left: #000 1px solid;
    border-right: #000 1px solid;
}

#footer p{
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
    font-size: small;
}